<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            name="WkView"
            icon="images/icon.png"
            restorable="true"
            class="com.sabre.edge.platform.optional.webkit.views.WebkitView"
            id="com.sabre.tn.redapp.sdk360.panelwidget.WkView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.sabre.edge.app.ui.perspective">
         <view
               relative="org.eclipse.ui.editorss"
               id="com.sabre.tn.redapp.sdk360.panelwidget.WkView:*"
               closeable="true"
               visible="false"
               standalone="true"
               minimized="false"
               showTitle="true"
               relationship="bottom"
               ratio="0.70"
               moveable="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="com.sabre.edge.platform.core.ui.viewApp">
      <viewApp
            viewId="com.sabre.tn.redapp.sdk360.panelwidget.WkView"
            browserURL="https://developer.sabre.com">
      </viewApp>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.sabre.tn.redapp.sdk360.panelwidget.OpenWkView"
            class="com.sabre.edge.platform.core.common.handlers.OpenBrowserViewHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Open WkView"
            id="com.sabre.tn.redapp.sdk360.panelwidget.OpenWkView">
         <commandParameter
               optional="true"
               name="viewId"
               id="viewId">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:tools">
         <command
               commandId="com.sabre.tn.redapp.sdk360.panelwidget.OpenWkView"
               label="WkView"
               style="push"
               icon="images/icon.png">
            <parameter
                  name="viewId"
                  value="com.sabre.tn.redapp.sdk360.panelwidget.WkView">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   
 
    <extension
         point="com.sabre.edge.dynamo.web.module">
      <modules>
         <module
               id="panelwidget-webmod"
               isInternal="false">
         </module>
      </modules>
   </extension>  
   
   <extension
         point="com.sabre.edge.redapp.contactdetails.provider">
      <contactDetails
            company="Sabre"
            website=""
            phoneNumber="SA31461500"
            email="am@tn.com"
            contactName="TN">
      </contactDetails>
   </extension>
   <extension
         point="com.sabre.edge.cf.redapp">
   </extension>

</plugin>

